.error {
  display: block;
  width: 200px;
  height: 200px;
}

section[class *="heroes"] {
  img[class *="error"] { 
    margin-left: 10%;
    height: 250px;
  }
}

@media (max-width: 575px) {
  .error {
    width: 300px;
    height: 300px;
  }
}